---
import BaseSection from "@components/BaseSection.astro";
import Button from "@components/Button.astro";

const { hero } = Astro.locals.texts;
---

<BaseSection color="rgb(15, 15, 15)">
	<div class="base-section__container">
		<div class="container">
			<h1>{hero.title}<span class="hero-dot">.</span></h1>
			<p>
				{hero.description}
			</p>
			<div class="button-container">
				<Button href="/#mixer" label={hero.buttonText}>{hero.buttonText}</Button
				>
			</div>
		</div>
		<div class="image">
			<img src="https://placehold.co/400x300/png" alt="Placeholder Image" />
		</div>
	</div>
</BaseSection>

<style lang="scss">
	@use "#variables.scss" as *;

	.base-section__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: 800px;

		.container,
		.image {
			display: grid;
			padding: 20px;
		}

		.container {
			place-content: center;
		}
		.image {
			justify-content: end;
			align-content: center;
		}

		.container {
			h1 {
				margin-bottom: 15px;
				font-size: 3.8rem;

				& > span.hero-dot {
					color: $color-primary;
				}
			}

			p {
				margin-bottom: 15px;
			}
		}
	}
</style>
