---
import Effect from "@components/Effect";
import RainyIcon from "#assets/icons/rainy.svg";
import FireplaceIcon from "#assets/icons/fireplace.svg";
import AirplaneIcon from "#assets/icons/flight.svg";
import CafeIcon from "#assets/icons/local-cafe.svg";
import LeafIcon from "#assets/icons/nest-eco-leaf.svg";
import BirdIcon from "#assets/icons/raven.svg";
import TrainIcon from "#assets/icons/train.svg";
import WavesIcon from "#assets/icons/waves.svg";
---

<section id="mixer">
	<div class="box">
		<h1>Craft Your Space</h1>
		<p>
			Select the sounds you like, then adjust the volume for each one. Find the
			perfect combination to help you focus.
		</p>
		<div class="effect-container">
			<Effect client:load effectTitle="Rain" playlistId="rain"
				><RainyIcon />
			</Effect>
			<Effect client:load effectTitle="Flight" playlistId="airplane"
				><AirplaneIcon />
			</Effect>
			<Effect client:load effectTitle="Cafe" playlistId="coffee"
				><CafeIcon />
			</Effect>
			<Effect client:load effectTitle="Sea" playlistId="sea"
				><WavesIcon />
			</Effect>
			<Effect client:load effectTitle="Birds" playlistId="birds"
				><BirdIcon />
			</Effect>
			<Effect client:load effectTitle="Crickets" playlistId="crickets">
				<LeafIcon />
			</Effect>
			<Effect client:load effectTitle="Fireplace" playlistId="fire">
				<FireplaceIcon />
			</Effect>
			<Effect client:load effectTitle="Train" playlistId="train">
				<TrainIcon />
			</Effect>
		</div>
	</div>
</section>

<style lang="scss" is:inline>
	section:is(#mixer) > .box > .effect-container .effect > .icon-container {
		text-align: center;

		svg {
			width: 4.5lh;
			height: 4.5lh;
		}
	}
</style>

<style lang="scss">
	section > .box {
		h1 {
			margin-bottom: 7px;
		}

		p {
			margin-bottom: 7px;
		}
	}

	section > .box > .effect-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 19ch), 1fr));
		gap: 30px;
		margin-top: 20px;
	}

	@media (width <= 670px) {
		section:is(#mixer) {
			padding: 30px 0px;
		}

		section:is(#mixer) > .box {
			padding: 50px 30px;
			border: none;
		}

		h1 {
			letter-spacing: 0.06em;
		}

		p {
			line-height: 1.6lh;
		}

		div:is(.effect) > .icon-container {
			font-size: 7em;
		}
	}
</style>
