---
const { quote } = Astro.locals.texts;
---

<style is:inline>
	section.quote {
		padding-block: 100px !important;
	}

	section.quote > blockquote {
		--size: 2em;
		--quote-size: calc(var(--size) * 1.4);

		display: grid;
		grid-template-columns: var(--quote-size) 1fr var(--quote-size);
		gap: 17px;
		width: 85%;
		margin-bottom: 10px;

		& > span {
			font-size: calc(var(--size));
			line-height: 1.7;
			font-weight: 100;
		}

		&::before {
			content: "";
			display: block;
			background-image: url(/quote/quote-left.svg);
			background-size: contain;
			background-position: left top;
			background-repeat: no-repeat;
			opacity: 0.7;
		}

		&::after {
			content: "";
			display: block;
			background-image: url(/quote/quote-right.svg);
			background-size: contain;
			background-position: right bottom;
			background-repeat: no-repeat;
			opacity: 0.7;
		}
	}

	section.quote .author {
		text-align: end;

		p.author-name {
			font-size: 1.7em;
			line-height: normal;
			font-weight: bold;
		}
		p.author-role {
			font-size: 1.2em;
			line-height: normal;
		}
	}

	@media (width <= 870px) {
		section.quote > blockquote {
			width: 100%;
		}
	}
	@media (width <= 750px) {
		section.quote > blockquote {
			--size: 1.6em;
		}
	}
	@media (width <= 650px) {
		section.quote > blockquote {
			--size: 1.3em;
		}
	}
	@media (width <= 550px) {
		section.quote > blockquote {
			display: block;
			grid-template-columns: unset;
			position: relative;

			&::before,
			&::after {
				--quote-size: calc(var(--size) * 1.7);

				width: var(--quote-size);
				aspect-ratio: 1/1;
				position: absolute;
				opacity: 0.2;
			}

			&::before {
				top: 0;
				left: 0;
			}

			&::after {
				bottom: 0;
				right: 0;
			}

			& > span {
				padding-inline: calc(var(--quote-size) + 7px);
			}
		}

		section.quote > .author {
			text-align: center;
		}
	}
</style>

<section class="quote" id="quote">
	<blockquote>
		<span>{quote.quoteText}</span>
	</blockquote>
	<div class="author">
		<p class="author-name">- {quote.quoteAuthor.name}</p>
		<p class="author-role">{quote.quoteAuthor.role}</p>
	</div>
</section>
