---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@components/sections/Hero.astro";
import MixerSection from "@components/sections/Mixer.astro";
import QuoteSection from "@components/sections/Quote.astro";
import FocusSection from "@components/sections/Focus.astro";
import SpiritSection from "@components/sections/Spirit.astro";
---

<Layout>
	<main class="wrapper">
		<HeroSection />
		<MixerSection />
		<QuoteSection />
		<FocusSection />
		<SpiritSection />
	</main>
</Layout>

<style lang="scss">
	body {
		display: grid;
		grid-template-rows: auto auto 1fr;
	}
</style>
