---
interface Props {
	color: string;
  children: any[];
}

const { color } = Astro.props;
---

<section style={`--color: ${color}`}>
	<slot />
</section>

<style lang="scss">
	@use "#variables.scss" as *;

	section {
		display: grid;
		overflow: hidden;
		grid-template-columns:
			$grid-template-columns;
    background-color: var(--color);

		& > :global(*) {
			grid-column: 2;
		}

		& > :global(.full-bleed) {
			width: 100%;
			grid-column: 1 / 4;
		}
	}
</style>
