.container > .effect-container .effect > .icon-container {
	text-align: center;
}
.container > .effect-container .effect > .icon-container svg {
	width: 4.5lh;
	height: 4.5lh;
}
.container h1 {
	margin-bottom: 7px;
}
.container p {
	margin-bottom: 7px;
}
.container > .effect-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
	gap: 30px;
	margin-top: 20px;
}
