---
type Props = {
	href?: string;
	label?: string;
};

const { href, label } = Astro.props;
---

{
	href && label ? (
		<a href={href} aria-label={label} draggable="false">
			<slot>Button</slot>
		</a>
	) : (
		<button>
			<slot>Button</slot>
		</button>
	)
}

<style lang="scss">
	button,
	a {
		user-select: none;
		background-color: #0064ff;
		border: none;
		padding: 9px 20px;
		font-size: 1em;
		letter-spacing: 0.06em;
		margin-block: 10px;
		border-radius: 7px;
		color: white;
		box-shadow: 0px 0px 20px rgba(0, 119, 255, 0.3);
		cursor: pointer;
		display: inline-block;
		transition:
			box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
			outline-color 0.15s cubic-bezier(0.165, 0.84, 0.44, 1),
			transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		outline-color: transparent;
		outline-width: 4px;
		outline-offset: 4px;
			outline-style: solid;

		&:hover {
			box-shadow: 0px 0px 20px rgba(0, 119, 255, 0.6);
		}

		&:focus-visible {
			outline-color: rgba(0, 119, 255, 0.6);
		}
	}
</style>
