.effect {
	padding: 20px 0;
}

.effect > h1.effect-title {
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;
}

.effect > .status-container {
	margin-top: 8px;
	font-size: 0.875rem;
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1rem;
	user-select: none;
}
