---
import LitoraLogo from "#assets/litora-logo.svg";
---

<style is:inline>
	body > footer.wrapper {
		padding: 50px 20px;
		background-color: rgb(13, 13, 13);
	}

	body > footer.wrapper > div > ul {
		list-style: none;

		li {
			line-height: 1.4lh;
		}
	}
</style>

<footer class="wrapper">
	<div>
		<LitoraLogo
			style={"height: 2lh; width: auto; aspect-ratio: 1401/307; margin-bottom: 20px"}
		/>
		<ul>
			<li><a href="https://github.com/Litora/site">GitHub</a></li>
			<li><a href="https://github.com/angelraymondi">AngelRaymondi</a></li>
		</ul>
	</div>
</footer>
