<footer class="wrapper">
	<div>
		<div class="litora-logo"></div>
		<ul>
			<li><a href="https://github.com/Litora/site">GitHub</a></li>
			<li><a href="https://github.com/angelraymondi">AngelRaymondi</a></li>
		</ul>
	</div>
</footer>

<style lang="scss">
	footer {
		background-color: rgb(13, 13, 13);
	}

	.litora-logo {
		background-image: url(/litora-logo.svg);
		background-size: contain;
		background-position: center;
		aspect-ratio: 1401/307;
		height: 2lh;
		margin-bottom: 20px;
	}

	ul {
		list-style: none;

    li {
      line-height: 1.4lh;
    }
	}

	footer > div {
		padding: 50px 20px;
	}
</style>
