---
import type { IconName } from "../lib/iconList";

interface Props {
	name: IconName;
	size?: string;
	block?: boolean;
}

const { name, size = 24, block = false } = Astro.props;
---

<span
	class="material-symbols-outlined"
	style={`font-size: ${size};${block ? "display: block" : ""}`}>
	{name}
</span>
