---
import LitoraIcon from "#assets/litora-icon.svg";

const { navigation } = Astro.locals.texts;
---

<nav>
	<div>
		<LitoraIcon style={"height: 1lh; width: auto; aspect-ratio: 462/310"} />
		<ul>
			<li><a href="/#quote">{navigation.aboutText}</a></li>
			<li><a href="/#mixer">{navigation.soundsText}</a></li>
			<li>
				<a href="https://github.com/Litora/site" target="_blank"
					>{navigation.githubText}</a
				>
			</li>
		</ul>
	</div>
</nav>

<style lang="scss">
	nav {
		display: grid;
		grid-template-columns:
			1fr
			min(1200px, 100%)
			1fr;

		& > * {
			grid-column: 2;
		}
	}

	nav > div {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		padding: 30px 20px;
		align-items: center;
	}

	nav > div > ul {
		display: flex;
		gap: 10px;
		list-style: none;

		li {
			line-height: 1.2lh;
		}
	}
</style>
