---
import "#global.scss";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
// import { iconNames } from "src/lib/iconList";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Litora</title>
	</head>

	<body>
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
